<% unless comment.archived? %>
  <div class="row">
    <div class="col comment">
      <div>
        <%= comment.body %>
      </div>
      - <%= comment.commenter %>
    </div>
    <p>
      <%= link_to "X", [comment.article, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class: "button" %>
    </p>
  </div>
<% end %>
