/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    display: block !important;
}

.article-card {
    border-radius: 5px;
    color: #212121 !important;
    background-color: #ffb300;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
}

.simple-navbar {
    background-color: #181818;
    padding: 1rem 10rem;
    display: flex;
}

.container {
    margin: 0 10rem;
}

.article-container {
    margin-bottom: 20px;
}

.width-fix {
    width: fit-content;
}

.inline-list {
    display: flex;
    padding: 0;
    justify-content: left;
    text-decoration: none;
    list-style: none;
}

.inline-list li {
    margin: 0 10px;
}

.comment {
  margin-right: 20px;  
}

.row {
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.rm-margin {
    margin: 0 !important;
}